doctype html
html(lang='en')
  head
    title Request Header Parser Microservice
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet', type='text/css')
  body
   div.container.backdrop
    h1.text-center Request Header Parser Microservice
    h2 User story:
    p I can get the IP address, language and operating system for my browser.
   
    h2 Example usage:
    p #{url}whoami

    h2 Example output:
    p {"ipaddress":"60.50.40.123","language":"en-US","software":"Windows NT 6.3; WOW64"}
